
@media (min-width: 780px) {
    .head__title {
        margin-top: 100px;
    }
}
@media only screen and (max-width: 1070px) {
    .conven,
    .review__container {
        column-count: 1;
    }
}
@media only screen and (max-width: 780px){
    .head__title {
        transform: translateY(50px);
    }
    .head__title h3{
        font-size: 23px;
    }
    
    .general__des {
        border-top: 2px solid #dddddd; 
    }
    .task, .gallery,
    .galllery__col--2,
    .reser__box, #header {
        display: none !important;
    }
    .des__re {
        margin-top: 80px;
        margin-right: 0;
    }
    .room__des, 
    .review, 
    .detail__des {
        max-width: 100%;
    }
    .review__text p {
        margin-right: 0;
    }
    .modal-body--review {
        padding-left: 30px;
    }
    /* ---------location------- */
    .location {
        padding-bottom: 50px;
    }
    .table__location {
        width: 100%;
    }
    .col__icon {
        padding-right: 20px;
    }

    /* ----------header mobile--------- */
    .header--mobile,.footer--mobile {
        display: block;
    }
    .header--mobile {
        top: 0;
    }
    .header__container {
        height: 60px;
        box-shadow: 0 5px 10px #ccc;
        padding: 0 30px;
    }
    .header__icon {
        display: inline-block;
        font-size: 2rem;
        padding: 10px;
        cursor: pointer;
        /* color: #fff; */
    }
    .header__icon--favo {
        color: red;
    }
    i.header__icon--favo--filled {
        display: none;
    }
    i.header__icon--share {
        color: blue;
    }
    .alert-success--favo {
        top: 80%;
        left: 50%;
        transform: translate(-50%, -80%);
    }
    /* -----------footer mobile---------- */
    .footer--mobile {
        bottom: 0;
    }
    .footer__container {
        position: relative;
        height: 120px;
        padding: 15px;
        box-shadow: 0px -5px 20px #ccc;
    }
    .infor__room {
        flex: 2;
    }
    .price {
        font-size: 1.8rem;
        margin: 7px 0;
    }
    .btn__choose--mobile {
        flex: 1;
        margin-top: 0;
        padding-left: 20px;
        padding-right: 20px;
    }
    .choose__type {
        position: absolute;
        bottom: 100%;
        width: 100%;
        background: var(--main-color);
    }
    .table__room--respon th, .table__room--respon td {
        color: #fff;
        border-bottom: 1px solid #fff;
        text-align: center;
    }
    .table__room--respon th {
        padding-top: 10px;
    }
    .icon__adjust {
        color: white !important;
        border-color: white !important;
    }
    .btn--bookroom {
        background: red;
        color: white;
        float: right;
        border: 1px solid white;
        padding: 10px 20px;
        margin: 10px;
        border-radius: 20px;
    }
    .btn--later {
        background: green;
        color: white;
        float: right;
        border: 1px solid white;
        padding: 10px 20px;
        margin: 10px;
        border-radius: 20px;
    }
}
@media only screen and (max-width: 610px) {
    .head__title {
        transform: translateY(-20px);
    }
    
    .des__re {
        margin-top: 0px;
        margin-right: 0;
    }
    .general__task {
        margin-bottom: 0;
    }
    .alert-success--favo {
        top: 78%;
        left: 50%;
        transform: translate(-50%, -78%);
    }
}