html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#content-hoso {
    padding: 14.4rem 8.5rem;
}
/* -------------CẤU HÌNH CHUNG-------------- */

#header--pc {
    padding: 2rem 4rem;
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100vw;
    border-bottom: 1px solid rgb(184, 183, 183);
    background-color: white;
    z-index: 10;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
}

/* -------------HEADER-------------- */
#tieu-de {
    font-size: 3rem;
}

#anh-dai-dien {
    margin-top: 7rem;
    font-size: 3rem;
    display: flex;
}

#anh-dai-dien img {
    width: 7rem;
    height: 7rem;
}

#anh-dai-dien h4 {
    margin-left: 2rem;
    line-height: 7rem;
}

.chuc-nang {
    display: flex;
}

.acc-box {
    margin-top: 7rem;
    margin-right: 7rem;
    padding: 7.9rem 3.8rem;
    width: 55rem;
    height: 25rem;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0rem 0.3rem 0.6rem #00000029;
    border-radius: 1.8rem;
    opacity: 1;
}

#ttin-tieude, #cd-tieude, #ttht-tieude {
    display: inline-block;
    color: var(--unnamed-color-000000);
    text-align: left;
    font-size: 2rem;
    /* font: normal normal normal 3.8rem/5.1rem Segoe UI; */
    letter-spacing: 0rem;
    color: #000000;
    opacity: 1;
}

#user-icn, #setting-icn, #phone-icn {
    display: inline-block;
    margin-right: 3.7rem;
}
.user-icon, .setting-icon, .phone-icon {
    display: inline-block;
    font-size: 2.8rem;
    color: #555555;
}

#ttin-nd, #cd-nd, #ttht-nd {
    margin-top: 2rem;
    font-size: 1.2rem;
}

#logout {
    display: block;
    margin-top: 7rem;
    float: right;
    width: 17rem;
    height: 5.6rem;
    /* UI Properties */
    background: var(--unnamed-color-b3b3b3) 0% 0% no-repeat padding-box;
    background: #B3B3B3 0% 0% no-repeat padding-box;
    border-radius: 0.8rem;
    opacity: 1;
    border: 0rem;
    color: white;
}

/* -------------RESPONSIVE-------------- */
/* table */
/* @media only screen and (min-width:74rem) and (max-width:102.4rem) {
    .chuc-nang {
        flex-direction: column;
    }
} */
/* mobie */
@media only screen and (max-width:74rem) {
    .chuc-nang {
        flex-direction: column;
    }
    .acc-box {
        width: 100%;
    }
    #ttin-tieude, #cd-tieude, #ttht-tieude {
        font-size: 1.5rem;
    }
    #ttin-nd, #cd-nd, #ttht-nd {
        font-size: 1rem;
    }
}