
:focus{
        color: #dcbdb8;
}
body{
        font-size: 1.6rem;
        overflow-x: hidden;
}
section{
        margin: 5% auto;
        width: 100vw;
       
}

/* The Close Button */
.close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
}

.close:hover,
.close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
}

.tab_search label.active {
        background-color: #ccc;
}
/* =================HEADER============== */
.container_search {
        margin: 0 20px;
}

.tabs_search {
        display: flex;
        align-items: center;
        background-color: rgb(243, 241, 241);
        border-radius: 99px;
        height: 60px;
}
.tabs_search .inside_tab{
        display:flex;
        align-items: center;
        justify-content: center;
}


input[type="number"]{
        -moz-appearance: textfield;
        text-align: center;
        border: none;
        background-color: transparent;
        width: 50px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
}
table td{
        padding: 5px 20px;
}
table button {
        color: #000000;
        border: 1px solid gray;
        padding: 0 8px;
        border-radius: 100px;
        cursor: pointer;
}
.tabs_small {
        /* max-width: 200px; */
        margin-right: 5px;
}
.tabs_small:first-child {
        /* width: 100px; */
        margin-left: 10px;
}
.tabs_small--type {
        position: relative;
}
.tabs_search .text_place{
        position: relative;
        top: -15px;
        background-color: transparent;
        border: none;
        text-align: center;
        left: 10%;
        width: 80%;
        outline: none;
        font-size: 1.5rem;
}
input[type=text]:focus {
        outline: none;
}
.tabs-search .fa-chevron-down{
        position: relative;
        top: -20%;
        left: 10%;

}
.tabs_search * {
        z-index: 2;
}

.tab_search {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        font-size: 1.5rem;
        font-weight: 500;
        border-radius: 99px;
        cursor: pointer;
        margin-bottom: 0;
        transition: color 0.15s ease-in;
}
.tabs_search .search-web{
        padding: 10px 13px 30px 13px;
        margin-left: 20px;
        margin-right: 10px;
        height: 50%;
        border: none;
        background-color: #dcbdb8; 
        color: white;
        font-size: 1.5rem;
        font-weight: 400;
        border-radius: 50%;
        align-items: center;
        z-index: 2;
}
.tabs_search .search-web:hover {
        background-color: #dcbdb8;
        color: gray;
}
.icon_search {
        margin-left: 5px;
}

.icon_search--down, .nav_bottom ,
#input-search{
        display: none !important;
}
#search-res {
        width: 100%;
        display: none;
}
.icon_bottomnav {
        font-size: 1.5rem;
}
/* ------------------------------Responsive search bar------------------- */
@media (max-width: 460px) {        
        .tabs_search {
                height: 50px;
        }
        .tabs_search .text_place {
                display: none;
        }
        .icon_search--down {
                display: block;
        }
        
        .tab_search--sm{
                display: none;
        }

        #search-res {
                position: absolute;
                top: 70px;
        }
}
@media (max-width: 620px) {
        .header--pc {
                padding: 10px 30px 10px 10px !important;
        }
        .container_search {
                width: 100%;
                margin: 0;
                cursor: pointer;
        }
        .tabs_small {
                width: 100%;
        }
        .header .logo {
                display: none;
        }
}
@media (max-width: 804px) {
        .tabs_search .search-web{
                margin-left: 0;
                margin-right: 5px;
        }
        .split-button {
                display: none !important;
        }
        .nav_bottom {
                display: block !important;
        }
        .noidung_dropdown {
                font-size: 1.3rem !important;
                transform: translateX(-50%);
        }
        .navigation {
                -webkit-box-align: center;
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
                height: 60px;
                display: flex;
                align-items: center;
                padding: 0 20px;
                border-top: 1px solid gray;
                transition: -ms-transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s, -webkit-transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s, transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s, visibility 0.2s ease 0s !important;
                z-index: 1 !important;
                background: #fff;
        }

        .nav_bar {
                -webkit-box-pack: center;
                -webkit-box-align: start;
                flex: 1 0 auto;
                align-items: flex-start;
                display: flex;
                justify-content: center;
                margin: 0px auto;
                max-width: 560px;

        }

        .navigation a {
                text-decoration: none;
        }
        .navigation .nav-item button {
                border: none;
                background-color: transparent;
                padding: 10px;
        }
        

        .navigation .nav-item {
                display: flex;
                flex: 1 1 0px;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
                background-color: transparent;
                text-align: center;
                text-decoration: none;
                border: 0px;
                max-width: 20%;
                min-width: 0px;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                overflow-wrap: break-word;
                hyphens: auto;
                padding: 0px 2px;
        }

        .navigation i {
                color: gray;
        }

        .navigation i:active {
                color: #dcbdb8;
        }

        .navigation i:focus {
                color: #dcbdb8;
        }
}
@media (max-width: 750px) {
        .tab_search, .tabs_search .text_place {
                font-size: 1.3rem;
        }
}
.header--pc {
        padding: 20px 40px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        border-bottom: 1px solid rgb(184, 183, 183);
        background-color: white;
        z-index: 10;
}

.header {
        display: flex;
        align-items: center;
        justify-content: space-between; 
        height: 60px;
}

/* ---------------------Nút Dropdown loai phongf--------------------*/
.tabs_search .nut_dropdown {
        display: flex;
        position: relative;
        width: 200px;
        border-radius: 99px;
        height: 80px;
        right: 85px;
        align-items: center;
        background-color: #f4f1f1;
}

.tabs_search .nut_dropdown span {
        margin: auto 20px;
        font-weight: 600;
}
.nut_dropdown {

        padding: 16px;
        font-size: 16px;
        border: none;
}

/* Thiết lập vị trí cho thẻ div với class dropdown*/
.dropdown {
        position: relative;
        display: inline-block;
}

/* Nội dung Dropdown */
.noidung_dropdown {
        /*Ẩn nội dụng các đường dẫn*/
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #f1f1f1;
        width: 250px;
        font-size: 1.5rem;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 10 !important;
}

/* Thiết kế style cho các đường dẫn tronng Dropdown */
.noidung_dropdown a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
}

.hienThi {
        display: block !important;
}

/* --------------------------button profile-------------------------------- */
.split-button{
        margin-right: 27px;
        display: block;
}

.border-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(168, 167, 167);
        border-radius: 20px;
        width: 90px;
        height: 40px;
}
.header .logo{
        /* width: 90%; */
}

img {
        width: 25px;
        height: 25px;
}

.dropdown {
        position: relative;
        width: 30px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
        top: 35px;
        right: 0;
        left: -90px;
        display: none;
        position: absolute;
        background-color: white;
        box-shadow: 2px 2px 5px 1px rgb(187, 187, 187);
        min-width: 160px;
        z-index: 100;
        border-radius: 10px;
}
.dropdown::after {
        display: block;
        position: absolute;
        right: -40px;
        content: "";
        width: 90px;
        height: 20px;
}
/* Links inside the dropdown */
.dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
}
.dropdown-content .top{
        font-weight: 500;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
        background-color: #ddd;
        border-radius: 10px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
        display: block;
}

        
/* ===========Carousel=============== */
.items {
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: auto 5%;
}

.items .cover {
        width: 350px;
        height: 270px;
        margin: 15px 0;
}
.items img {
        width: 200px;
        height: 200px;
        margin: 10px auto;
        border-radius: 10px;
}
.items p{
        width: 350px;
        text-align: center;
        font-weight: bold;
        margin: 10px auto;
}
.cam-nang img{
        width: 350px;
        height: 200px;
        border-radius: 5px;    
}

.slick-arrow{
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        border: 1px solid #FF884B;
        background-color: white;
        border-radius: 20px;
}
.slick-prev {
        left: 0;
        z-index: 2;

}
.slick-next {
        right: 0;   
        z-index: 2;
}
.slick-dots {
        display: none !important;       
}
.slick-dots button {
        font-size: 0px;
        border: none;
} 
@media (min-width: 1200px) {
        .items .cover {
                width: 300px;
                height: 270px;
                margin: 15px 0;
        }
        .cam-nang img {
                width: 300px;
                height: 200px;
                margin: 15px auto;
                border-radius: 5px;
        }
        .items p {
                width: 300px;
                margin: 10px auto;
        }
        
                
}
@media (max-width: 900px) {
        .items .cover {
                width: 250px;
                height: 270px;
                margin: 15px 0;
        }

        .cam-nang img {
                width: 250px;
                height: 200px;
                margin: 15px auto;
                border-radius: 5px;
        }

        .items p {
                width: 250px;
                margin: 10px auto;
        }


}
@media (max-width: 690px) {
        .items .cover {
                width: 200px;
                height: 270px;
                margin: 15px 0;
        }

        .cam-nang img {
                width: 200px;
                height: 200px;
                margin: 15px auto;
                border-radius: 5px;
        }

        .items p {
                width: 200px;
                margin: 10px auto;
        }


}
@media (max-width: 560px) {
        .items .cover {
                width: 250px;
                height: 270px;
                margin: 15px 0;
        }

        .cam-nang img {
                width: 250px;
                height: 200px;
                margin: 15px auto;
                border-radius: 5px;
        }

        .items p {
                width: 250px;
                margin: 10px auto;
        }
       


}

/* =======================FOOTER=================================== */
footer {
        /* position: absolute; */
        /* width: 100vw;; */
}

.site-footer {
        background-color: #000000;
        padding: 45px 0 20px;
        font-size: 15px;
        line-height: 24px;
        color: #737373;
}

.site-footer .col-sm-12 {
        padding: 0 10%;
}

.site-footer img {
        width: 120px;
        height: 120px;
        margin-left: -3%;
}

.site-footer .partner_logo {
        width: 100px;
        height: 50px;
        margin: 5PX 10px;
        border-radius: 5px;
}

.site-footer hr {
        border-top-color: #bbb;
        opacity: 0.5
}

.site-footer hr.small {
        margin: 20px 0
}

.site-footer h6 {
        color: #dcbdb8;
        font-size: 15px;

        margin-top: 5px;

}

.site-footer a {
        color: white;
        text-decoration: none;
        line-height: 30px;
        font-size: 11px;

}

.site-footer a:hover {
        color: #3366cc;
        text-decoration: none;
}

.footer-links {
        padding-left: 0;
        list-style: none
}

.footer-links li {
        display: block
}

.footer-links a {
        color: white;
        margin-left: 5px;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
        color: #3366cc;
        text-decoration: none;
}

.footer-links.inline li {
        display: inline-block
}

.copyright-text {
        justify-content: center;
        align-items: center;
}

@media (max-width:991px) {
        .site-footer [class^=col-] {
                margin-bottom: 30px
        }
}

@media (max-width:767px) {
        .site-footer {
                padding-bottom: 0
        }

        .site-footer .copyright-text,
        .site-footer .social-icons {
                text-align: center
        }
}

